{{> message}}
<div class="container my-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header text-center">
          <h2>Welcome, {{user.username}}!</h2>
        </div>
        <div class="card-body">
          <h4 class="card-title">Your Recipes</h4>
          {{#if recipes.length}}
            <ul class="list-group list-group-flush">
              {{#each recipes}}
                <li class="list-group-item">
                  <h5 class="mb-1">{{name}}</h5>
                  <p class="mb-1">{{description}}</p>
                  <span class="badge badge-secondary">Difficulty: {{difficulty}}</span>
                  <span class="badge badge-info ml-2">Time: {{time}} mins</span>
                </li>
              {{/each}}
            </ul>
          {{else}}
            <p class="text-muted">You have no recipes yet. <a href="/addRecipe">Add your first recipe</a>!</p>
          {{/if}}
        </div>
        <div class="card-footer text-center">
          <a href="/addRecipe" class="btn btn-primary">Add New Recipe</a>
        </div>
      </div>
    </div>
  </div>
</div>
