<style>
    .cookbook-link {
        text-decoration: none; /* Remove underline */
    }

    .recipe-link {
        text-decoration: none; /* Remove underline */
    }

    .list-group-item {
        padding: 1rem;
        border: 2px solid #dee2e6;
        border-radius: 5px;
        margin-bottom: 0.5rem;
    }
    .card-body {
        background-color: #f9f9f9;
        border-radius: 10px;
        padding: 2rem;
    }

    .badge {
        color: black;
    }
</style>

{{> message}}
<div class="container my-5 ">
    <div class="row">
        <div class="col-md-8 offset-md-2 ">
            <div class="card shadow">
                <div class="card-header text-center bg-primary text-white">
                    <h2>Welcome, {{user.username}}!</h2>
                </div>
                <a href="/likedRecipes" class="text-center" >View liked Recipes </a>
                <div class="card-body">
                    <h4 class="card-title">Your Recipes</h4>
                    {{#if recipes.length}}
                        <ul class="list-group list-group-flush">
                            {{#each recipes}}
                                <a href="/viewRecipe?recipeId={{this.recipe_id}}" class="recipe-link">
                                <li class="list-group-item">
                                    <h5 class="mb-1">{{name}}</h5>
                                    <p class="mb-1 text-muted">{{description}}</p>
                                    <span class="badge badge-secondary">Difficulty: {{difficulty}}</span>
                                    <span class="badge badge-info ml-2">Time: {{time}} mins</span>
                                </li>
                                </a>
                            {{/each}}
                        </ul>
                    {{else}}
                        <p class="text-muted text-center mt-3">
                            You have no recipes yet. <a href="/addRecipe" class="text-primary">Add your first recipe</a>!
                        </p>
                    {{/if}}
                </div>
                <div class="card-footer text-center">
                    <a href="/addRecipe" class="btn btn-success">Add New Recipe</a>
                </div>
            </div>

            <div class="card mt-4 shadow">
                <div class="card-header text-center bg-dark text-white">
                    <h4>Your Cookbooks</h4>
                </div>
                <div class="card-body">
                    {{#if cookbooks.length}}
                        <ul class="list-group list-group-flush">
                            {{#each cookbooks}}
                                <a href="/cookbook?cookbookId={{this.cookbook_id}}" class="cookbook-link">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <h5 class="mb-1">{{name}}</h5>
                                </li>
                                </a>
                            {{/each}}
                        </ul>
                    {{else}}
                        <p class="text-muted text-center mt-3">You have no cookbooks yet!</p>
                    {{/if}}
                </div>
                <div class="card-footer text-center">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCookbookModal">
                        Add Cookbook
                    </button>
                </div>
            </div>
            <div class="modal fade" id="addCookbookModal" tabindex="-1" role="dialog"
                 aria-labelledby="addCookbookModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addCookbookModalLabel">Add Cookbook Name</h5>
                        </div>
                        <form action="/cookbook" method="POST">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="cookbookName">Cookbook Name</label>
                                    <input type="text" class="form-control" id="cookbookName" name="name"
                                           required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel
                                </button>
                                <button type="submit" class="btn btn-primary">Save Cookbook</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>


