{{!-- This page displays cards with recipes.
It is the default page and also will display the results to a search.
We could even make this page show the recipes in each cookbook.
We could also change the name, I just put recipe_results for now --}}

{{> message}}
<style>
    body{
    }
    .recipe_image{
        background-size: cover;
        background-color: white;
        width: 20rem;
        height: 20rem;
        text-align: center;
    }
    .card-title{
        background-color: white;
    }
    .card-desc{
        text-overflow: ellipsis;
        white-space: nowrap; 
        overflow: hidden;
        max-height: 2rem; 
        line-height: 2rem; 
    };

</style>

<div class="mx-auto">
    <h1 class="mt-3">{{title}}</h1>
</div>

{{!-- Recipe cards displayed in rows of three --}}
{{#each data}}
{{!-- Start a new row every 3 cards --}}
{{#if (isMod3 @index)}}
{{#if @index}}
</div> <!-- Close previous row if not the first element -->
{{/if}}
<div class="row container-fluid" > <!-- Start a new row -->
    {{/if}}

    <div class="col-sm-4 rounded"  style="padding-bottom:20px;">
        <a href="/viewRecipe?recipeId={{this.recipe_id}}" style="text-decoration:none;background-color:none; color:black;">
        <div class="border rounded" style = "text-align: center; " >
            <div class="rounded" id="placeholder-img-box" style = "width:max-content height:max-content">
                {{!-- <div class = "recipe_image"> --}}
                <img class = "recipe_image" {{#if this.image}}
                    src="{{this.image}}"
                    {{else}}
                    src="images/No_Image_Available.jpg"
                    {{/if}} alt="Recipe image">
                    {{!-- </div> --}}
                <div class="" style="width: 50px; height: 50px; background-color: rgba(0, 255, 68, 0); position: absolute; bottom: 0; right: 0; text-align:center;">
                    <span style="color:red; font-size:40px;">♥</span>
                </div>
            </div>
            <div class="card-body p-3" style = "background-color: white;">
                <div class="card-title" style="display: flex; justify-content: space-between; align-items: center;">
                    <h5>{{this.name}}</h5>
                    <span style="font-size: 14px; color: gray;">Difficulty: {{this.difficulty}}/5</span>
                </div>
                <div class="card-desc" style="display: flex; justify-content: space-between; align-items: center;">
                    <p class="card-text">{{this.description}}</p>
                    <span style="font-size: 14px; color: gray;">Cook Time: {{formatTime this.time}}</span>
                </div>
            </div>
        </div>
        </a>
    </div>

    {{!-- Close the last row after the last card --}}
    {{#if @last}}
</div>
{{/if}}
{{/each}}

{{> footer}}