<style>


.recipe-title {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: bold;
}


.content {
    display: flex;
    gap: 20px;
}


.left-section {
    flex: 1;
}



.ingredients-list {
    list-style-type: circle; /*can change what bullet points look like*/
    padding-left: 20px;
}


.ingredients-list li {
    margin-bottom: 5px;
}


.image-section {
    flex: 2;
}


.image-container {
    padding-top: 56.25%; /* image aspect ratio, can change later */
    background-color: gray;
}




.description {
    margin-top: 10px;
    font-size: 0.9rem;
}


.right-section {
    flex: 1;
}


h2 {
    font-size: 1.2rem;
}
  button {
    width: 25%;
    padding: 0.75rem;
    color: white;
    background-color: blue;
  }
  
  button:hover {
    background-color: navy;
  }
</style>


<div class="container">
    <h1 class="recipe-title">{{recipe.name}}</h1>

    <div class="content">
        <!-- Ingredients Section -->
        <div class="left-section">
            <h2>Ingredients:</h2>
            <ul class="ingredients-list">
                {{#each recipe.ingredients}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
        <!-- Image and Description Section -->
        <div class="image-section">
            <div class="image-container">
                <img src="{{#if recipe.image}}{{recipe.image}}{{else}}images/Fish_logo.jpg{{/if}}" alt="Recipe image">
            </div>
            <br>
            <h2>Description:</h2>
            <p class="description">{{recipe.description}}</p>
            <p><strong>Difficulty:</strong> {{recipe.difficulty}}</p>
            <p><strong>Time:</strong> {{formatTime recipe.time}}</p>
        </div>

        <!-- Instructions Section -->
    <div class="right-section">
            <h2>Instructions:</h2>
            <ol class="instructions-list">
                {{#each recipe.instructions}}
                <li>{{this}}</li>
                {{/each}}
            </ol>
        </div>
    </div>
</div>

     <button type="save">
        <a href="/save_recipe"></a>
        Save Recipe to Cookbook</button>


</div>
